<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center">
  <div fxFlex="1 1 33%" fxFlex.lt-lg="0 0 100%">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="1 1 auto" fxFlexAlign="start">
            Tenants
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="newPatientButton" class="floatRight" (click)="newItem.open()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </mat-card-title>

      <div fxHide fxShow.lt-lg>

        <mat-card class="list-mat-card list-header-mat-card">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex>Name</div>
          </div>
        </mat-card>

        <mat-card class="list-mat-card" *ngFor="let tenant of tenants" (click)="select(tenant)" [class.selected]="isSelectedItem(tenant)">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex class="text-truncate">{{tenant.Name}}</div>
          </div>
        </mat-card>
      </div>

      <div fxHide.lt-lg>
        <mat-card class="list-mat-card" *ngFor="let tenant of tenants" (click)="select(tenant)" [class.selected]="isSelectedItem(tenant)">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex="100%">
              <div fxLayout="row" fxLayoutGap="5%">
                <div fxFlex="33%" fxFlexAlign="end">Name:</div>
                <div fxFlex fxFlexAlign="start" class="user-data text-truncate" >{{tenant.name}}</div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card *ngIf="loading" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

      <div *ngIf="tenants && tenants.length>0">
        <mat-card class="list-paginator">
          <mat-paginator [length]="itemsFound"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pageChange($event)" >
          </mat-paginator>
        </mat-card>
      </div>

    </mat-card>

    <!--
    <mat-card *ngIf="selectedUser">
      <mat-card-title>Selected user json</mat-card-title>
      <pre>{{selectedUser|json:"pretty"}}</pre>
    </mat-card>
    -->
  </div>
  <div fxFlex>
    <mat-card *ngIf="selectedLoading" fxLayout="row" fxLayoutAlign="center" >
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
      </div>
    </mat-card>

    <mat-card *ngIf="selectedTenant">
      <mat-card-title>Selected Tenant: {{selectedTenant.name}}</mat-card-title>

      <div fxLayout="column">

        <div fxFlex="95%">
          <div fxLayout="row" fxLayoutGap="5%">
            <div fxFlex>
              <div class="label-align-right">Name:</div>
            </div>
            <div fxFlex>
              <mat-form-field floatLabel="always">
                <input matInput [(ngModel)]="selectedTenant.name" >
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxFlex="95%">
          <div fxLayout="row" fxLayoutGap="5%">
            <div fxFlex>
              <div class="label-align-right">ID:</div>
            </div>
            <div fxFlex>
              <mat-form-field floatLabel="always">
                <input matInput disabled="true" [(ngModel)]="selectedTenant._id" >
              </mat-form-field>
            </div>
          </div>

        </div>

      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveTenant()">Save</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>



<app-dialog-template #newItem (result)="onResult($event)">
  <ng-template>
    <div fxLayout="column">
      <div fxFlex>
        <mat-form-field class="full-width-150-500">
          <input #uniqueIdBox matInput placeholder="Unique ID" [(ngModel)]="newTenant._id" (input)="checkUnique(uniqueIdBox.value)">
          <mat-hint >No spaces, use "-"". <div class="tmp-error-msg" *ngIf="!(uniqueID$|async)">ID must be unique.</div></mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field class="full-width-150-500">
          <input matInput placeholder="Tenant Name" [(ngModel)]="newTenant.name">
        </mat-form-field>
      </div>
      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="newTenant" [disabled]="!newTenant.name">Save</button>
      </div>
    </div>
  </ng-template>
</app-dialog-template>
