<mat-drawer-container class="applications-container">
  <mat-drawer #drawer mode="side" opened class="applications-drawer">
    <mat-card>
      <div class="dashboard-link"><a (click)="gotoDashboard()">Dashboard</a></div>
      <mat-card-title>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="1 1 auto" fxFlexAlign="start">
            Virtual Bucket Applications
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="newButton" class="floatRight" (click)="newItem.open()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </mat-card-title>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="1 1 auto" fxFlexAlign="start">
          <mat-form-field  floatLabel="always">
            <mat-label>Search by name</mat-label>
            <input matInput type="email" placeholder="Name" [(ngModel)]="searchName" >
          </mat-form-field>
        </div>
        <div fxFlex="0 0 auto" fxFlexAlign="end">
          <button id="searchBtn" class="floatRight" (click)="loadData()" mat-mini-fab color="primary"><mat-icon>search</mat-icon></button>
        </div>
      </div>

      <div>
        <mat-card class="list-mat-card" *ngFor="let app of applications" (click)="select(app)" [class.selected]="isSelectedItem(app)">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex="100%">
              <app-application-panel [application]="app"></app-application-panel>
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card *ngIf="loading" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

      <div *ngIf="applications && applications.length>0">
        <mat-card class="list-paginator">
          <mat-paginator [length]="itemsFound"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pageChange($event)" >
          </mat-paginator>
        </mat-card>
      </div>

    </mat-card>
  </mat-drawer>
  <mat-drawer-content>
    <div fxLayout="row">
      <!--
      <div fxFlex="0 0 auto">
        <button (click)="drawer.toggle()" mat-mini-fab color="white" class="drawer-button"><mat-icon>settings_ethernet</mat-icon></button>
      </div>
      -->
      <div fxFlex="1 1 auto">
        <div *ngIf="selected">
          <app-application-detail [applicationId]="selected._id" (reloadApps)="loadData()"></app-application-detail>
        </div>
        <div *ngIf="!selected">
          <app-virt-bucket-apps-dashboard></app-virt-bucket-apps-dashboard>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>


<!--
<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center">
  <div fxFlex="1 1 33%" fxFlex.lt-lg="0 0 100%">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="1 1 auto" fxFlexAlign="start">
            Applications
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="newButton" class="floatRight" (click)="newItem.open()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </mat-card-title>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="1 1 auto" fxFlexAlign="start">
          <mat-form-field  floatLabel="always">
            <mat-label>Search by name</mat-label>
            <input matInput type="email" placeholder="Name" [(ngModel)]="searchName" >
          </mat-form-field>
        </div>
        <div fxFlex="0 0 auto" fxFlexAlign="end">
          <button id="searchBtn" class="floatRight" (click)="loadData()" mat-mini-fab color="primary"><mat-icon>search</mat-icon></button>
        </div>
      </div>

      <div>
        <mat-card class="list-mat-card" *ngFor="let app of applications" (click)="select(app)" [class.selected]="isSelectedItem(app)">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex="100%">
              <app-application-panel [application]="app"></app-application-panel>
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card *ngIf="loading" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

      <div *ngIf="applications && applications.length>0">
        <mat-card class="list-paginator">
          <mat-paginator [length]="itemsFound"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pageChange($event)" >
          </mat-paginator>
        </mat-card>
      </div>

    </mat-card>

  </div>
  <div fxFlex *ngIf="selected">
    <app-application-detail [applicationId]="selected._id"></app-application-detail>
  </div>
</div>

-->

<app-dialog-template #newItem (result)="onResult($event)">
  <ng-template>
    <div fxLayout="column">
      <!--
      <div fxFlex>
        <mat-form-field class="full-width-150-500">
          <input #uniqueIdBox matInput placeholder="Unique ID" [(ngModel)]="newApplication._id" (input)="checkUnique(uniqueIdBox.value)">
          <mat-hint >No spaces, use underscores. <div class="tmp-error-msg" *ngIf="!(uniqueID$|async)">ID must be unique.</div></mat-hint>
          <mat-error *ngIf="false">
            ID is not unique.
          </mat-error>
        </mat-form-field>
      </div>
      -->

      <div fxFlex>
        <mat-form-field class="full-width-150-500">
          <input matInput placeholder="Application Name" [(ngModel)]="newApplication.name">
        </mat-form-field>
      </div>
      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="(!newApplication.name)" [mat-dialog-close]="newApplication">Save</button>
      </div>
    </div>
  </ng-template>
</app-dialog-template>
