<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center">
  <div fxFlex="1 1 33%" fxFlex.lt-lg="0 0 100%">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="1 1 auto" fxFlexAlign="start">
            Credentials
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="newPatientButton" class="floatRight" (click)="newItem.open()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </mat-card-title>

      <div fxHide fxShow.lt-lg>

        <mat-card class="list-mat-card list-header-mat-card">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex>Name</div>
          </div>
        </mat-card>

        <mat-card class="list-mat-card" *ngFor="let credential of credentials" (click)="select(credential)" [class.selected]="isSelectedItem(credential)">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex class="text-truncate">{{credential.Name}}</div>
          </div>
        </mat-card>
      </div>

      <div fxHide.lt-lg>
        <mat-card class="list-mat-card" *ngFor="let credential of credentials" (click)="select(credential)" [class.selected]="isSelectedItem(credential)">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex="100%">
              <app-text-field [readOnly]="true" [label]="'Name'" [value]="credential.name"></app-text-field>
              <app-text-field [readOnly]="true" [label]="'Provider'" [value]="getProviderLabel(credential.provider)"></app-text-field>
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card *ngIf="loading" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

      <div *ngIf="credentials && credentials.length>0">
        <mat-card class="list-paginator">
          <mat-paginator [length]="itemsFound"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pageChange($event)" >
          </mat-paginator>
        </mat-card>
      </div>

    </mat-card>

    <!--
    <mat-card *ngIf="selectedUser">
      <mat-card-title>Selected user json</mat-card-title>
      <pre>{{selectedUser|json:"pretty"}}</pre>
    </mat-card>
    -->
  </div>
  <div fxFlex>
    <mat-card *ngIf="selectedLoading" fxLayout="row" fxLayoutAlign="center" >
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
      </div>
    </mat-card>

    <mat-card *ngIf="selected">
      <mat-card-title>Selected Credential: {{selected.name}}</mat-card-title>

      <div fxLayout="column">
        <div fxFlex="95%">
          <app-text-field [readOnly]="true" [label]="'ID'" [value]="selected._id"></app-text-field>
        </div>

        <div fxFlex="95%">
          <app-text-field [readOnly]="true" [label]="'Provider'" [value]="getProviderLabel(selected.provider)"></app-text-field>
        </div>

        <div fxFlex="95%">
          <app-text-field [readOnly]="false" [label]="'Name'" [(value)]="selected.name"></app-text-field>
        </div>

        <div *ngIf="selected.provider === 'azure'" fxFlex="95%">
          <app-text-field [readOnly]="false" [label]="'Region'" [(value)]="selected.region"></app-text-field>
        </div>

        <div fxFlex="95%">
          <app-text-field [readOnly]="false" [label]="'Key'" [(value)]="selected.key"></app-text-field>
        </div>

        <div fxFlex="95%">
          <app-text-field [readOnly]="false" [label]="'Secret'" [(value)]="selected.secret"></app-text-field>
        </div>

      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>



<app-dialog-template #newItem (result)="onResult($event)">
  <ng-template>
    <div fxLayout="column">
      <div fxFlex>
        <mat-form-field class="full-width-150-500">
          <input #uniqueNameBox matInput placeholder="Name" [(ngModel)]="newCredential.name" (input)="checkUnique(uniqueNameBox.value)">
          <mat-error class="tmp-error-msg-remove" *ngIf="!(uniqueName$|async)"><div>Name must be unique.</div></mat-error>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field>
          <mat-label>Provider</mat-label>
          <mat-select [(ngModel)]="newCredential.provider">
            <mat-option *ngFor="let provider of env.providers" [value]="provider.id">
              {{provider.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="newCredential" [disabled]="!newCredential.name || !newCredential.provider">Save</button>
      </div>
    </div>
  </ng-template>
</app-dialog-template>
