<mat-card>
  <mat-card-title>Dashboard</mat-card-title>

  <div fxLayout="row wrap">
    <div fxFlex="100%">
      <app-vb-dash-stats></app-vb-dash-stats>
    </div>

    <div fxFlex="50%">
      <app-vb-app-file-count-stats></app-vb-app-file-count-stats>
    </div>

    <div fxFlex="50%">
      <app-vb-app-file-size-stats></app-vb-app-file-size-stats>
    </div>

    <div fxFlex="50%">
      <app-vb-files-per-provider></app-vb-files-per-provider>
    </div>

    <div fxFlex="50%">
      <app-vb-size-per-provider></app-vb-size-per-provider>
    </div>

    <div fxFlex="100%">
      <app-vb-files-per-time-period></app-vb-files-per-time-period>
    </div>
  </div>
</mat-card>
