<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="80%">
      <div fxLayout="row">
        <div fxFlex="100% 1 auto" class="text-truncate">
          <strong >{{bucketMonitor.providerBucket}}</strong>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="25%" class="float-right">Provider:</div>
        <div fxFlex="25%" >{{bucketMonitor.provider}}</div>
        <div fxFlex="50%" *ngIf="bucketMonitor.failureCode ==='bucket_not_found'" class="error-msg">Bucket Not Found</div>
      </div>
    </div>
    <div fxFlex="15%">
      <div *ngIf="loading">
        <div fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap.lt-sm="10%" fxLayoutAlign="center center" *ngIf="!bucketData">
          <div fxFlex="0 0 auto"><mat-spinner [diameter]="50"></mat-spinner></div>
        </div>
      </div>
      <div *ngIf="!loading">
        <div fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap.lt-sm="10%" fxLayoutAlign="center center" *ngIf="!bucketData">
          <div fxFlex="0 0 auto" class="weekday">Empty</div>
        </div>
        <div fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap.lt-sm="10%" fxLayoutAlign="center center" *ngIf="bucketData">
          <div fxFlex="0 0 auto" class="weekday">{{getFileSize(bucketData.size)|number:'1.1-2'}}</div>
          <div fxFlex="0 0 auto" class="monthday">{{getFileUnits(bucketData.size)}}</div>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%" fxLayoutAlign="space-between">
    <div fxFlex="1 1 50%">
      <div *ngIf="lineChartData" class="chart-wrapper">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div *ngIf="!lineChartData"><mat-spinner></mat-spinner></div>
    </div>
    <div fxFlex="1 1 50%">
      <div *ngIf="doughnutChartData" class="chart-wrapper">
        <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [legend]="doughnutChartLegend">
        </canvas>
      </div>
      <div *ngIf="!doughnutChartData"><mat-spinner></mat-spinner></div>
    </div>
  </div>-->
</mat-card>



