<mat-drawer-container class="applications-container">
  <mat-drawer #drawer mode="side" opened class="applications-drawer">
    <mat-card>
      <div class="dashboard-link"><a (click)="gotoDashboard()">Dashboard</a></div>
      <mat-card-title>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="1 1 auto" fxFlexAlign="start">
            Bucket Monitors
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="newButton" class="floatRight" (click)="selectProvider.open()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </mat-card-title>

      <div *ngIf="bucketMonitors">
        <mat-card class="list-mat-card" *ngFor="let bm of bucketMonitors" (click)="select(bm)" [class.selected]="isSelectedItem(bm)">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex="100%">
              <app-bm-list-panel [bucketMonitor]="bm"></app-bm-list-panel>
            </div>
          </div>
        </mat-card>
      </div>

      <div *ngIf="bucketMonitors && bucketMonitors.length>0">
        <mat-card class="list-paginator">
          <mat-paginator [length]="itemsFound"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pageChange($event)" >
          </mat-paginator>
        </mat-card>
      </div>
    </mat-card>
  </mat-drawer>
  <mat-drawer-content>
    <div fxLayout="row">
      <div fxFlex="0 0 auto">
        <button (click)="drawer.toggle()" mat-mini-fab color="white" class="drawer-button"><mat-icon>settings_ethernet</mat-icon></button>
      </div>
      <div fxFlex="1 1 auto">
        <div *ngIf="!selected">
          <app-bm-dashboard></app-bm-dashboard>
        </div>
        <div *ngIf="selected">
          <app-bm-detail [bucketMonitorId]="selected._id" ></app-bm-detail>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

<app-dialog-template #selectProvider (result)="bucketsSelected($event)">
  <ng-template>
    <div fxLayout="row">

      <mat-card fxFlex class="credentials-card">
        <mat-card-title>Provider Credentials</mat-card-title>
        <mat-card-subtitle>Entered in the Credential section</mat-card-subtitle>
        <div *ngIf="pCCredentials">
          <div *ngFor="let pc of pCCredentials" (click)="selectProviderCredentials(pc)">
            {{pc.name}}
          </div>
        </div>
      </mat-card>

    </div>
    <div fxLayout="row">

      <mat-card fxFlex class="buckets-card">
        <mat-card-title>Buckets and Containers</mat-card-title>
        <mat-card-subtitle>Available to your selected provider credential</mat-card-subtitle>
        <div *ngIf="loadingBuckets">
          <app-branded-spinner></app-branded-spinner>
        </div>
        <div *ngIf="buckets">

          <div *ngFor="let bucket of buckets.Buckets">
            <div fxLayout="row" >
              <div fxFlex="1 1 auto">
                {{bucket.Name}}
              </div>
              <div fxFlex="0 0 auto">
                <button mat-raised-button color="primary" (click)="createBucketMonitor(bucket)">Add</button>
              </div>
            </div>
          </div>

        </div>
      </mat-card>


    </div>
    <div fxLayout="row">
      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Close</button>
        <!--<button mat-raised-button color="primary" [disabled]="(!newBuckets.name)" [mat-dialog-close]="newBuckets">Save</button>-->
      </div>
    </div>
  </ng-template>
</app-dialog-template>
