<div fxLayout="column">
  <div fxFlex>
    <app-text-field-display [readOnly]="readOnly" [label]="'First Name'" [(value)]="appContact.firstName"></app-text-field-display>
  </div>
  <div fxFlex>
    <app-text-field-display [readOnly]="readOnly" [label]="'Last Name'" [(value)]="appContact.lastName"></app-text-field-display>
  </div>
  <div fxFlex>
    <app-text-field-display [readOnly]="readOnly" [label]="'Title'" [(value)]="appContact.title"></app-text-field-display>
  </div>
  <div fxFlex>
    <app-text-field-display [readOnly]="readOnly" [label]="'Email'" [(value)]="appContact.email"></app-text-field-display>
  </div>
  <div fxFlex>
    <app-text-field-display [readOnly]="readOnly" [label]="'Telephone'" [(value)]="appContact.tel1"></app-text-field-display>
  </div>
  <div fxFlex>
    <app-text-field-display [readOnly]="readOnly" [label]="' Mobile'" [(value)]="appContact.tel2"></app-text-field-display>
  </div>
  <div fxFlex>
    <app-text-field-display [readOnly]="readOnly" [label]="'Role'" [(value)]="appContact.contactRole"></app-text-field-display>
  </div>
</div>
