<mat-card *ngIf="loading" fxLayout="row" fxLayoutAlign="center" >
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
  </div>
</mat-card>

<mat-card *ngIf="application">
  <mat-card-title>Selected App: {{application.name}}</mat-card-title>

  <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
    <div fxFlex="100%">
      <app-text-field-display [label]="'Name:'" [(value)]="application.name" [readOnly]="false"></app-text-field-display>
    </div>
    <div fxFlex="100%">
      <app-text-area-display [label]="'Description:'" [(value)]="application.description" [readOnly]="false"></app-text-area-display>
    </div>
  </div>

  <div >
    <mat-tab-group>
      <mat-tab label="General">
        <app-application-info
          [application]="application"
          (saveApplication)="saveApplication()"
          (deleteApplication)="deleteApplication()"></app-application-info>
      </mat-tab>
<!--
      <mat-tab label="Contacts">
        <app-application-contacts [application]="application"></app-application-contacts>
      </mat-tab>
      <mat-tab label="Users">
        <app-application-users [application]="application"></app-application-users>
      </mat-tab>
      -->
      <mat-tab label="Data Stores">
        <app-application-data-stores [applicationId]="application._id"></app-application-data-stores>
      </mat-tab>
      <mat-tab label="Credentials">
        <app-application-rest-credentials [application]="application"></app-application-rest-credentials>
      </mat-tab>
      <mat-tab label="Reports">
        <app-application-panel [application]="application"></app-application-panel>
      </mat-tab>
    </mat-tab-group>
  </div>


</mat-card>
