<mat-card>
  <div class="dashboard-link"><a (click)="gotoDashboard()">Dashboard</a> > <span *ngIf="bucketMonitor">{{bucketMonitor.providerBucket}}</span></div>
  <mat-card-title>Selected Bucket Monitor: <span *ngIf="bucketMonitor">{{bucketMonitor.providerBucket}}</span></mat-card-title>

  <div *ngIf="bucketMonitor">

    <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="50%">
        <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
          <div fxFlex="100%">
            <app-text-field-display [label]="'Name:'" [(value)]="bucketMonitor.providerBucket" [readOnly]="false"></app-text-field-display>
          </div>
          <div fxFlex="100%">
            <app-text-field-display [label]="'Provider:'" [(value)]="bucketMonitor.provider" [readOnly]="false"></app-text-field-display>
          </div>
          <div fxFlex="100%">
            <app-text-field-display [label]="'Last Inventory:'" [(value)]="bucketMonitor.lasctInventory" [readOnly]="false"></app-text-field-display>
          </div>
          <div fxFlex="100%">
            <app-text-field-display [label]="'Bucket Monitor Status:'" [(value)]="bucketMonitor.status" [readOnly]="false"></app-text-field-display>
          </div>
        </div>
      </div>
      <div fxFlex="50%">
        <div fxLayout="column">
          <div fxFlex>
            <app-bm-files-over-time [bucketMonitor]="bucketMonitor" [fileCountOrSize]="'fileCount'"></app-bm-files-over-time>
          </div>
          <div fxFlex>
            <app-bm-files-over-time [bucketMonitor]="bucketMonitor" [fileCountOrSize]="'fileSize'"></app-bm-files-over-time>
          </div>
        </div>
      </div>
    </div>

  </div>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="startInventoryBucket()">Start Inventory</button>
    <button mat-raised-button color="primary" (click)="deleteBucketMonitor()">Delete Bucket Monitor</button>
  </mat-card-actions>
</mat-card>



