<p>application-credentials works!</p>

<mat-card>
  <div>
    <button mat-raised-button color="primary" (click)="createAuth0Client()">Create Auth0 Client</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getAuth0Clients()">Get Auth0 Client List</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getAuth0Client()">Get Auth0 Client</button>
  </div>

  <div *ngIf="loading"><mat-spinner></mat-spinner></div>
  <div *ngIf="result"><pre>{{result|json}}</pre></div>
</mat-card>
