<mat-card>
  <mat-card-subtitle>DsApplication Management Console Users</mat-card-subtitle>
  Define access rules to the management console of this application.
</mat-card>

<div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-around">
  <div fxFlex="60%">
    <div>
      <mat-card class="list-mat-card list-header-mat-card">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="100%">DsApplication Users</div>
        </div>
      </mat-card>
    </div>

    <div>
      <mat-card class="list-mat-card" *ngFor="let user of application.users" [class.selected]="isSelectedItem(user)">
        <div fxLayout="row" class="full-width" fxLayoutAlign="space-between">
          <div fxFlex="50%" class="text-truncate " fxFlexAlign="start center">
            <app-user-name [user_id]="user.user_id"></app-user-name>
          </div>
          <div fxFlex="25%" class="text-truncate " fxFlexAlign="start center">
            <mat-form-field>
              <mat-label>Rights</mat-label>
              <mat-select [(ngModel)]="user.appRights">
                <mat-option *ngFor="let appRight of appRights" [value]="appRight.id">
                  {{appRight.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            {{user.appRights}}</div>
          <div fxFlex="10%" fxFlexAlign="end center" class="">
            <button mat-mini-fab color="primary" (click)="removeUserFromApplication(user)">-</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>


  <div fxFlex="33%" fxFlexAlign="end">
    <div>
      <mat-card class="list-mat-card list-header-mat-card">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="100%">System Users</div>
        </div>
      </mat-card>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="1 1 auto">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="searchSystemUserEmail">
          </mat-form-field>
        </div>
        <div fxFlex>
          <button mat-mini-fab color="primary" (click)="searchSystemUsers()" ><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </div>

    <div>
      <mat-card class="list-mat-card" *ngFor="let user of users"  [class.selected]="isSelectedItem(user)">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="80%" class="text-truncate" fxFlexAlign="start center">{{user.email}}</div>
          <div fxFlex="20%" fxFlexAlign="end">
            <button mat-mini-fab color="primary" (click)="addUserToApplication(user)" [disabled]="userInApplication(user)">+</button>
          </div>
        </div>
      </mat-card>

      <mat-card class="list-mat-card" *ngIf="users && users.length===0" >
        No users found.
      </mat-card>

      <mat-card *ngIf="systemUsersLoading">
        <mat-spinner></mat-spinner>
      </mat-card>
    </div>



    <div *ngIf="users && users.length>0">
      <mat-card class="list-paginator">
        <mat-paginator [length]="itemsFound"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pageChange($event)" >
        </mat-paginator>
      </mat-card>
    </div>
  </div>
  <div fxFlex="1 1 auto">

  </div>
</div>
