<mat-card>
  A credential can give access to one or more of the Data Stores in your application. All data stores in a credential have the same rights (read/write/list/delete). If you need to give different rights to different data stores, create separate credentials.
</mat-card>
<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center">
  <div fxFlex="1 1 33%" fxFlex.lt-lg="0 0 100%">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="1 1 auto" fxFlexAlign="start">
            Credentials
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="newPatientButton" class="floatRight" (click)="newItem.open()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </mat-card-title>

      <div fxHide fxShow.lt-lg>

        <mat-card class="list-mat-card list-header-mat-card">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex>Name</div>
          </div>
        </mat-card>

        <mat-card class="list-mat-card" *ngFor="let creds of restCredentials" (click)="select(creds)" [class.selected]="isSelectedItem(creds)">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex class="text-truncate">{{creds.name}}</div>
          </div>
        </mat-card>
      </div>

      <div fxHide.lt-lg>
        <mat-card class="list-mat-card" *ngFor="let creds of restCredentials" (click)="select(creds)" [class.selected]="isSelectedItem(creds)">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex class="text-truncate">{{creds.name}}</div>
            <div fxFlex="100%">
              {{creds.name}}
              <!--<app-text-field-display [readOnly]="true" [label]="'Name'" [value]="ds.name"></app-text-field>-->
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card *ngIf="loadingRestCredentials" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

    </mat-card>

  </div>

  <div fxFlex>
    <mat-card *ngIf="loadingSelectedRestCredential" fxLayout="row" fxLayoutAlign="center" >
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
      </div>
    </mat-card>

    <mat-card *ngIf="selectedRestCredential">
      <mat-card-title>
        Selected Rest Credential: {{selectedRestCredential.name}}

        <div class="float-right">
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteRestCredential(selectedRestCredential)">Delete Date Store</button>
          </mat-menu>
        </div>
      </mat-card-title>

      <div fxLayout="column">

        <div fxFlex="95%">
          <app-text-field-display [readOnly]="true" [label]="'ID'" [(value)]="selectedRestCredential._id"></app-text-field-display>
        </div>

        <div fxFlex="95%">
          <app-text-field-display [readOnly]="false" [label]="'Name'" [(value)]="selectedRestCredential.name"></app-text-field-display>
        </div>

      </div>


    </mat-card>

    <mat-card *ngIf="selectedAuth0Client">
      <div fxLayout="column">

        <div fxFlex="95%">
          <app-text-field-display [readOnly]="true" [label]="'Client ID'" [(value)]="selectedAuth0Client.client_id"></app-text-field-display>
        </div>

        <div fxFlex="95%">
          <div fxLayout="row" fxLayoutGap="5%">
            <div fxFlex="33%" class="labelFlex">
              <div fxLayout="row" fxLayoutAlign="end center" class="labelLayout">
                <div fxFlex="0 0 auto">Client Secret</div>
              </div>
            </div>
            <div fxFlex fxFlexAlign="start" class="user-data valueFlex full-width" >
              <mat-form-field floatLabel="always" class="full-width">
                <input matInput [(ngModel)]="selectedAuth0Client.client_secret" [type]="'password'">
              </mat-form-field>
            </div>
            <div fxFlex="0 1 auto">
              <mat-icon (click)="copyTextToClipboard(selectedAuth0Client.client_secret)"
                        color="primary"
                        matTooltip="Copy to clipboard"
                        matTooltipPosition="above">file_copy</mat-icon>
              <mat-icon
                (click)="rotateSecret()"
                color="primary"
                matTooltip="Rotate secret"
                matTooltipPosition="above">refresh</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex="95%">
          <mat-card>
            <mat-card-subtitle>Can access the following data stores</mat-card-subtitle>

            <div *ngFor="let vb of virtualBuckets">
              <div fxLayout="row">
                <div fxFlex="50%">{{vb._id}}</div>
                <div fxFlex="50%">
                  <mat-slide-toggle [checked]="hasAccessToVirtualBucket(vb)" (change)="updateVirtualBucketAccess(vb, $event)"></mat-slide-toggle>
                </div>
              </div>
            </div>
          </mat-card>
        </div>


        <div fxFlex="95%">
          <mat-card>
            <mat-card-subtitle>Has the following rights to selected data stores:</mat-card-subtitle>

            <div>
              <app-boolean-display *ngIf="selectedAuth0ClientGrants"
                                   [readOnly]="false"
                                   [label]="'Read Documents'"
                                   [value]="hasScope('doc:read')"
                                   [(value)]="selectedAuth0ClientGrants.read"
                                   (valueChange)="updateClientGrants()"></app-boolean-display>
            </div>

            <div>
              <app-boolean-display *ngIf="selectedAuth0ClientGrants"
                                   [readOnly]="false"
                                   [label]="'Write Documents'"
                                   [(value)]="selectedAuth0ClientGrants.write"
                                   (valueChange)="updateClientGrants()"></app-boolean-display>
            </div>

            <div>
              <app-boolean-display *ngIf="selectedAuth0ClientGrants"
                                   [readOnly]="false"
                                   [label]="'List Documents'"
                                   [(value)]="selectedAuth0ClientGrants.list"
                                   (valueChange)="updateClientGrants()"></app-boolean-display>
            </div>

            <div>
              <app-boolean-display *ngIf="selectedAuth0ClientGrants"
                                   [readOnly]="false"
                                   [label]="'Delete Documents'"
                                   [(value)]="selectedAuth0ClientGrants.delete"
                                   (valueChange)="updateClientGrants()"></app-boolean-display>
            </div>

          </mat-card>

        </div>

      </div>
    </mat-card>

  </div>
</div>



<app-dialog-template #newItem (result)="onResult($event)">
  <ng-template>
    <div fxLayout="column">
      <div fxFlex>
        <mat-form-field class="full-width-150-500">
          <input #uniqueNameBox matInput placeholder="Unique Name" [(ngModel)]="newCredential.name" (input)="checkUnique(uniqueNameBox.value)">
          <mat-hint *ngIf="!(uniqueName$|async)"> <div class="tmp-error-msg">Name must be unique to the app.</div></mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-slide-toggle [(ngModel)]="newCredential.read">Read Documents</mat-slide-toggle>
      </div>

      <div fxFlex>
        <mat-slide-toggle [(ngModel)]="newCredential.write">Write Documents</mat-slide-toggle>
      </div>

      <div fxFlex>
        <mat-slide-toggle [(ngModel)]="newCredential.list">List Documents</mat-slide-toggle>
      </div>

      <div fxFlex>
        <mat-slide-toggle [(ngModel)]="newCredential.delete">Delete Documents</mat-slide-toggle>
      </div>

      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="newCredential" [disabled]="!(this.uniqueName$ | async)">Save</button>
      </div>
    </div>
  </ng-template>
</app-dialog-template>

