<mat-card>
  <mat-card-subtitle>Virtual Buckets</mat-card-subtitle>
  Virtual endpoints for application data.
</mat-card>


<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center">
  <div fxFlex="1 1 33%" fxFlex.lt-lg="0 0 100%">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="1 1 auto" fxFlexAlign="start">
            Virtual Buckets
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="newVBButton" class="floatRight" (click)="newItem.open()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
          </div>
          <div fxFlex="0 0 auto" fxFlexAlign="end">
            <button id="importVBButton" class="floatRight" (click)="selectImportBucket.open()" mat-mini-fab color="primary"><mat-icon>system_update_alt</mat-icon></button>
          </div>
        </div>
      </mat-card-title>

      <div fxHide fxShow.lt-lg *ngIf="virtualBuckets">

        <mat-card class="list-mat-card list-header-mat-card">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex>Name</div>
          </div>
        </mat-card>

        <mat-card class="list-mat-card" *ngFor="let vb of virtualBuckets" (click)="select(vb)" [class.selected]="isSelectedItem(vb)">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex class="text-truncate">{{vb.virtualBucketId}}</div>
          </div>
        </mat-card>
      </div>

      <div fxHide.lt-lg *ngIf="virtualBuckets">
        <mat-card class="list-mat-card" *ngFor="let vb of virtualBuckets" (click)="select(vb)" [class.selected]="isSelectedItem(vb)">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxFlex class="text-truncate">Name</div>
            <div fxFlex="100%">
              {{vb.virtualBucketId}}
              <!--<app-text-field-display [readOnly]="true" [label]="'Name'" [value]="ds.name"></app-text-field>-->
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card *ngIf="loading" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

    </mat-card>

  </div>

  <div fxFlex>
    <mat-card *ngIf="loading" fxLayout="row" fxLayoutAlign="center" >
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
      </div>
    </mat-card>

    <mat-card *ngIf="!selected">
      <app-vb-files-per-vb [applicationId]="applicationId"></app-vb-files-per-vb>
      <app-vb-files-per-provider [applicationId]="applicationId"></app-vb-files-per-provider>
    </mat-card>

    <mat-card *ngIf="selected">
      <mat-card-title>
        Selected Virtual Bucket: {{selected.virtualBucketId}}
        <div class="float-right">
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteSelectedVirtualBucket()">Delete Virtual Bucket</button>
            <button mat-menu-item (click)="emptySelectedVirtualBucket()">Empty Virtual Bucket</button>
          </mat-menu>
        </div>
      </mat-card-title>

      <div fxLayout="column">

        <div fxFlex="95%">
          <app-text-field-display [readOnly]="true" [label]="'ID'" [(value)]="selected._id"></app-text-field-display>
        </div>

        <div fxFlex="95%">
          <app-text-field-display [readOnly]="true" [label]="'Bucket Name'" [(value)]="selected.virtualBucketId"></app-text-field-display>
        </div>

        <div fxFlex="95%">
          <app-text-area-display [readOnly]="false" [label]="'Description'" [(value)]="selected.description"></app-text-area-display>
        </div>

        <div fxFlex="95%">
          <app-boolean-display [readOnly]="false" [label]="'Encrypted'" [(value)]="selected.encrypted"></app-boolean-display>
        </div>

      </div>


      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveVirtualBucket()">Save</button>
      </mat-card-actions>

      <mat-tab-group>
        <mat-tab [label]="'Provider Endpoints'">
          <app-provider-endpoints [virtualBucket]="selected" (reloadVirtualBucket)="loadVirtualBucket(this.selected._id)"></app-provider-endpoints>
        </mat-tab>
      </mat-tab-group>

    </mat-card>
  </div>
</div>



<app-dialog-template class="ds-dialog" #newItem (result)="onResult($event)">
  <ng-template>
    <div fxLayout="column">
      <div fxFlex>
        <mat-form-field class="full-width-150-500">
          <input #uniqueIdBox matInput placeholder="Unique name, no spaces" [(ngModel)]="newVirtualBucket.virtualBucketId" (input)="checkUnique(uniqueIdBox.value)">
          <mat-hint *ngIf="!(uniqueName$|async)"> <div class="tmp-error-msg">Must be unique to your tenant.</div></mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="newVirtualBucket" [disabled]="!(this.uniqueName$ | async)">Save</button>
      </div>
    </div>
  </ng-template>
</app-dialog-template>

<app-dialog-template #selectImportBucket >
  <ng-template>
    <div fxLayout="row">

      <mat-card fxFlex class="credentials-card">
        <mat-card-title>Provider Credentials</mat-card-title>
        <mat-card-subtitle>Entered in the Credential section</mat-card-subtitle>
        <div *ngIf="pCCredentials">
          <div *ngFor="let pc of pCCredentials" (click)="selectProviderCredentials(pc)">
            {{pc.name}}
          </div>
        </div>
      </mat-card>

    </div>
    <div fxLayout="row">

      <mat-card fxFlex class="buckets-card">
        <mat-card-title>Buckets and Containers</mat-card-title>
        <mat-card-subtitle>Available to your selected provider credential</mat-card-subtitle>
        <div *ngIf="loadingImportableBuckets">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="buckets">

          <div *ngFor="let bucket of buckets.Buckets">
            <div fxLayout="row" >
              <div fxFlex="1 1 auto">
                {{bucket.Name}}
              </div>
              <div fxFlex="0 0 auto">
                <button mat-raised-button color="primary" (click)="importBucketDialogResult(bucket)"><mat-icon>system_update_alt</mat-icon></button>
              </div>
            </div>
          </div>

        </div>
      </mat-card>


    </div>
    <div fxLayout="row">
      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Close</button>
        <!--<button mat-raised-button color="primary" [disabled]="(!newBuckets.name)" [mat-dialog-close]="newBuckets">Save</button>-->
      </div>
    </div>
  </ng-template>
</app-dialog-template>
