<mat-card>
  <mat-card-subtitle>DsApplication Information</mat-card-subtitle>
  General information about the application.
</mat-card>

<mat-card>
  <div fxLayout="column">

    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="'Line of Business'" [(value)]="application.lineOfBusiness"></app-text-field-display>
    </div>

    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="'Sub-Line of Business'" [(value)]="application.subLineOfBusiness"></app-text-field-display>
    </div>

    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="'Cost Center'" [(value)]="application.costCenter"></app-text-field-display>
    </div>

    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="'Application ID'" [(value)]="application.appId"></app-text-field-display>
    </div>

    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="'Application Registry ID'" [(value)]="application.appRegistryId"></app-text-field-display>
    </div>

    <!--
    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="CTO" [(value)]="application.chiefTechnologyOfficer"></app-text-field>
    </div>

    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="'DsApplication Owner'" [(value)]="application.applicationOwner"></app-text-field>
    </div>

    <div fxFlex>
      <app-text-field-display [readOnly]="false" [label]="'Production Manager'" [(value)]="application.productionManager"></app-text-field>
    </div>
-->
  </div>
</mat-card>



<div>
  <button mat-raised-button color="warn" (click)="emitDeleteApplication()">Delete</button>
  <button mat-raised-button color="primary" (click)="emitSaveApplication()">Save</button>
</div>
